#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

#controlBlock {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

#fileBlock {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#colorBlock {
    display: flex;
    flex-direction: column;
}

#colorBlock > button {
    align-self: center;
}

#photoGallery {
    display: flex;
    align-items: center;
    gap: 60px;
    margin-top: 40px;
}

#photoGallery canvas {
    pointer-events: none;
    image-rendering: pixelated;
}

#photoGrid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.photoHolder {
    display: flex;
    outline: 3px dashed transparent;
    cursor: pointer;
}

.photoHolder.selected {
    outline-color: sandybrown;
}

#colorPalette {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

#colorPalette > div {
    display: flex;
    width: 130px;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
}

.customPalettePresetHolder {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
}

.customPalettePresetHolder > button {
    width: 40px;
    height: 40px;
    padding: 0px;
    font-size: 16px;
}

.palettePreset {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

.palettePreset > button {
    width: 150px;
}

.palettePreview {
    display: flex;
    gap: 5px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 2px;
    /* background: white; */
    /* border: 1px solid rgba(0, 0, 0, 0.2); */
    box-shadow: rgba(0, 0, 0, 1) 0px 2px 8px;
}

.colorPreview {
    width: 25px;
    height: 25px;
    cursor: pointer;
    outline: none;
    transition: transform 0.2s;
}

.colorPreview:hover {
    outline: 2px solid white;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
    z-index: 1;
    transform: scale(1.2);
}

.colorPreviewTooltip {
    opacity: 0;
    position: absolute;
    width: 60px;
    height: 10px;
    top: 100%;
    left: 50%;
    margin-left: -7px;
    text-align: center;
    line-height: 100%;
    margin-top: 10px;
    padding: 5px 0;
    border: 2px solid white;
    background-color: #1a1a1a;
    font-size: 10px;
    z-index: 2;
    transition: opacity 0.2s;
}

.colorPreviewTooltip::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 10%;
    margin-left: -5px;
    border-width: 6px;
    border-style: solid;
    border-color: transparent transparent white transparent;
}

.colorPreview:hover .colorPreviewTooltip {
    opacity: 1;
}

.downloadButton {
    margin: 5px;
}
