.filepond--root {
    width: 278px;
    height: 100px;
    font-family: inherit;
}

.filepond--drop-label {
    color: white;
    height: 100px;
}

.filepond--file {
    align-items: center;
}

.filepond--item {
    width: 240px;
    height: 64px;
    justify-self: center;
}

.filepond--panel-root {
    background-color: transparent;
    border: 4px dashed white;
    border-radius: 0.5em;
}

.filepond--item-panel {
    background-color: #555;
    border-radius: 0.5em;
}

.filepond--file-action-button {
    cursor: pointer;
}

.filepond--drip-blob {
    background-color: #999;
}

.filepond--file-action-button:hover,
.filepond--file-action-button:focus {
    box-shadow: 0 0 0 0.125em rgba(255, 255, 255, 0.9);
}

[data-filepond-item-state*="error"] .filepond--item-panel,
[data-filepond-item-state*="invalid"] .filepond--item-panel {
    background-color: red;
}

[data-filepond-item-state="processing-complete"] .filepond--item-panel {
    background-color: green;
}
