@tailwind base;
@tailwind components;
@tailwind utilities;

.os-scrollbar {
    --os-handle-bg: none;
    --os-handle-bg-hover: var(--palette-primary-main);
    --os-handle-bg-active: var(--palette-primary-main);
    --os-handle-border: 2px solid var(--palette-primary-main);
    --os-handle-border-radius: 4px;
}
