@tailwind base;
@tailwind components;
@tailwind utilities;

@property --body-pattern-color {
    syntax: "<color>";
    initial-value: #e8cca6; /* --palette-base-dark in light scheme */
    inherits: false;
}

* {
    will-change: background-color, shadow-color, border-color, outline-color, --palette-base-dark;
    transition: background-color 0.5s ease, shadow-color 0.5s ease, border-color 0.5s ease,
        outline-color 0.5s ease, --body-pattern-color 0.5s ease;
}

#root {
    display: flex;
    flex-direction: column;
    min-width: 320px;
    min-height: 100vh;
    max-width: 1280px;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
}

/* grid pattern BG */
body {
    background-color: transparent;
    background-image: linear-gradient(var(--body-pattern-color) 2px, transparent 2px),
        linear-gradient(to right, var(--body-pattern-color) 2px, transparent 2px);
    background-size: 100px 100px;
}

.dark body {
    --body-pattern-color: #354450; /* --palette-base-dark in dark scheme */
}

canvas {
    pointer-events: none;
    image-rendering: pixelated;
}

.os-scrollbar {
    --os-handle-bg: none;
    --os-handle-bg-hover: var(--palette-primary-main);
    --os-handle-bg-active: var(--palette-primary-main);
    --os-handle-border: 2px solid var(--palette-primary-main);
}

#smallOsScrollbar .os-scrollbar {
    --os-handle-border-radius: 2px;
}

#bigOsScrollbar .os-scrollbar {
    --os-size: 16px;
    --os-handle-border-radius: 4px;
    --os-padding-axis: 10px;
}

body > .os-scrollbar {
    --os-size: 16px;
    --os-handle-border-radius: 4px;
    --os-padding-axis: 20px;
}

.os-scrollbar-track::before,
.os-scrollbar-track::after {
    content: "";
    position: absolute;
    left: 50% !important;
    transform: translateX(-50%) !important;
    width: 0;
    height: 0;
}

/* Top arrow */
.os-scrollbar-track::before {
    top: -10px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid var(--palette-primary-main);
}

/* Bottom arrow */
.os-scrollbar-track::after {
    bottom: -10px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid var(--palette-primary-main);
}
